.home-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.home-container-contents {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 30px;
    width: 100%;
}

.home-container-contents-width-set {
    max-width: 1000px;
}

.home-preview-container {
    font-size: 12px;
    font-weight: bold;
    max-width: 120px;
    margin-right: 10px;
}

.home-preview {
    border: thin solid lightgray;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-preview img {
    max-width: 120px;
}

.home-container .template-list-favorite {
    cursor: pointer;
    font-size: 18px;
    opacity: 0;
}

.home-container .template-list-favorite:hover {
    opacity: 0.7;
}

.home-container .template-list-favorited {
    opacity: 1;
}

.home-container .home-template-row {
    align-items: center;
    display: flex;
    max-width: 450px;
    padding-left: 5px;
    width: 100%;
}

.home-container .home-template-row img {
    max-height: 100px;
    max-width: 100px;
    width: 100px;
}

.home-container .template-info {
    max-width: 350px;
    width: 100%;
    /* min-width: 100%; */
    margin-right: 30px;
}

.home-container .template-info h5 {
    margin-left: 19px;
}

.home-container .template-info .instance-toggle {
    margin-left: 12px;
    text-align: left;
}

.home-header {
    height: 300px;
    overflow: hidden;
    min-height: 300px;
}

.home-container-label {
    margin: 40px 0;
}

.home-template-row-instances-container {
    max-width: 400px;
}