html,
body,
#root-container {
  font-family: "Helvetica Neue", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  --measure: mediumseagreen;
  --dimension: lightskyblue;
  --time: pink;
  --custom: thistle;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 10px;
  text-decoration: underline;
}

button:disabled {
  cursor: not-allowed;
}

button.selected {
  background: #333;
  color: white !important;
}

button.use-button {
  border-radius: 0;
  font-weight: 900;
  text-decoration: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.flex {
  display: flex;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.grid-col-1 {
  grid-column: 1;
}

.grid-col-2 {
  grid-column: 2;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-height-with-hide {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.margin-top {
  margin-top: 5px;
}

.margin-right {
  margin-right: 5px;
}

.margin-left {
  margin-left: 5px;
}

.space-around {
  justify-content: space-around;
}

.center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.capitolize {
  text-transform: capitalize;
}

.chart-container {
  border-left: 1px solid lightgray;
  padding: 20px 5px;
  overflow: scroll;
}

.chart-container.multi-view-container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.chart-container > div {
  background: white;
}

.render-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 10px;
}

.render-wrapper-header {
  align-items: center;
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.render-wrapper .render-wrapper-title {
  font-size: 12px;
  font-weight: bold;
}

.render-wrapper > div:nth-child(2) {
  padding: 0 10px;
}

#atom-key-special-container {
  display: flex;
  width: fit-content;
}

.chart-unfullfilled {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 800;
  height: 100%;
  justify-content: center;
  opacity: 0.5;
  text-transform: uppercase;
  white-space: pre;
  width: 100%;
}

.chart-controls {
  height: 45px;
  min-height: 45px;
}

.chart-controls .view-control {
  align-items: center;
  border-right: thin solid lightgray;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 100%;
  justify-content: center;
  padding: 0 10px;
}

.chart-controls .view-control.selected {
  background: lightgray;
  font-weight: bolder;
  text-decoration: underline;
}

.chart-controls .view-control.new-view {
  border: 0;
}

.chart-controls .selected-view-control {
  background: lightgray;
  cursor: not-allowed;
}

.view-container {
  border-top: thin solid black;
  display: flex;
  overflow-x: auto;
  width: 100%;
}

.view-settings {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 15px;
  height: 100%;
}

.center-column {
  min-width: 300px;
  position: relative;
  width: 300px;
}

.main-content-container {
  height: calc(100% - 40px);
}

.header {
  align-items: center;
  color: white;
  height: 40px;
  width: calc(100% - 30px);
  justify-content: space-between;
  padding: 0 15px;
}

.header button {
  color: white;
}

.view-control button {
  font-size: 13px;
  height: 100%;
}

.header img {
  height: 25px;
  margin-right: 5px;
}

.bottom-fill {
  margin-bottom: 100px;
}

.input-mode-selector {
  display: flex;
  font-size: 10px;
  flex-direction: row-reverse;
  padding: 0 15px;
}

.input-mode-selector .mode-option {
  cursor: pointer;
  margin: 0 5px;
}

.input-mode-selector .mode-option.selected-mode {
  text-decoration: underline;
}

.special-bump-for-closed-code-container {
  max-height: calc(100% - 45px);
}

.section-title {
  font-size: 20px;
  font-weight: 100;
}

.section-subtitle {
  font-size: 12px;
}

.column {
  border-right: thin solid black;
  max-height: 100%;
  min-width: 220px;
  overflow-y: scroll;
  padding: 0 15px;
}

.encoding-column {
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  padding: 15px;
  padding-right: 20px;
}

.encoding-control-buttons button {
  border: thin solid black;
  padding: 5px;
  text-decoration: none;
}

.template-column {
  width: 100%;
}

.template-column.column.edit-mode {
  height: 100%;
  padding: 0;
  width: 100%;
}

.template-logo {
  align-items: center;
  display: flex;
  margin-top: 5px;
}

.template-logo-img-container {
  align-items: center;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  width: 90px;
  overflow: hidden;
}

.template-logo-img-container img {
  max-height: 50px;
}

.template-logo h4 {
  font-weight: 200;
}

.template-column.column.edit-mode > div {
  margin-bottom: 200px;
}

.widget-section {
  background: #e8e6e3;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-bottom: 2px;
}

.widget-section.widget-section--editing {
  margin-right: 50px;
}

.widget-section.blank-section {
  background: none;
}

.widget-section .pad-widget {
  padding: 0 5px;
}

.widget-section .widget-title {
  color: #333;
  font-size: 10px;
  white-space: nowrap;
}

.control-container {
  z-index: 1;
}

.pill-container {
  color: #000;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  min-height: 20px;
}

.pill {
  background: #b5b5b5;
  border-radius: 2px;
  cursor: move;
  font-size: 9px;
  height: 100%;
  padding: 0 5px;
}

.pill-container .pill {
  min-height: 20px;
}

.pill .fixed-symbol-width {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  justify-content: center;
  height: 100%;
  width: 20px;
}

.pill .fixed-symbol-width:hover {
  background-color: gray;
}

/* the data type indicator should behave special */
.pill .fixed-symbol-width.pill-symbol {
  cursor: move;
  background-color: transparent;
}

.pill .fixed-symbol-width.pill-symbol:hover {
  background-color: transparent;
}

.fixed-symbol-width.fixed-symbol-width-disable {
  cursor: not-allowed;
  opacity: 0.1;
}

.pill .pill-label {
  align-items: center;
  display: flex;
  font-size: 9px;
  max-width: 100%;
  padding: 0 5px;
  width: 100%;
}

.symbol-box {
  border-right: 1px solid gray;
  cursor: pointer;
  height: 5px;
  width: 100%;
}

.measure-pill {
  background: var(--measure);
}

.dimension-pill {
  background: var(--dimension);
}

.time-pill {
  background: var(--time);
}

.custom-pill {
  background: var(--custom);
}

.shelf-container {
  margin-bottom: 5px;
}

.multi-shelf-container .pill-dropzone {
  min-height: 22px;
  width: calc(100% - 5px);
}

.multi-shelf-container .pill {
  min-height: 22px;
}

.shelf {
  align-items: center;
  background: #333;
  border: 2px solid #333;
  color: white;
  border-radius: 5px;
  font-size: 10px;
  height: 22px;
  padding: 0;
  padding-left: 5px;
  z-index: 1;
}

.multi-shelf {
  align-items: center;
  background: #333;
  border: 2px solid #333;
  color: white;
  border-radius: 5px;
  font-size: 10px;
  padding: 0;
  z-index: 1;
}

.multi-shelf button,
.widget .multi-shelf select {
  color: white;
}

.shelf .field-label {
  align-items: center;
  font-size: 12px;
  min-width: 50px;
  position: relative;
  text-align: left;
  width: 50px;
}

.shelf .field-label .data-type-container {
  position: absolute;
  top: -5px;
  width: 100%;
}

.multi-shelf .field-label {
  min-width: 50px;
  width: 50px;
}

.shelf .label-control {
  font-size: 15px;
}

.disable-shelf {
  cursor: no-drop;
  opacity: 0.4;
}

.shelf .blank-pill,
.multi-shelf .blank-pill {
  align-items: center;
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  padding-left: 5px;
  transition: background-color 1s;
  min-height: 20px;
}

.shelf .highlight-drop {
  background-color: paleturquoise;
}

.shelf .pill-dropzone {
  background: white;
  border-radius: 2px;
  color: #000;
  height: 100%;
  margin: 0 5px;
  position: relative;
  width: 100%;
}

.shelf.filter-target {
  border: 0;
  padding: 0;
}

.shelf.filter-target .pill-dropzone {
  margin: 0;
}

.data-select {
  max-width: 100%;
  width: 100%;
}

.background-1 {
  background: #333;
}

.background-2 {
  background: white;
}

.filter-container {
  border: 2px solid #f1f1f1;
  border-radius: 2px;
  margin-bottom: 10px;
}

.filter-container .filter-header {
  background: #f1f1f1;
  font-size: 10px;
  padding: 3px 6px;
}

.filter-container .filter-contents {
  background: #fcfdfe;
  font-size: 10px;
  height: 100%;
  max-height: 200px;
  min-height: 35px;
  overflow-y: scroll;
  padding: 10px 6px;
  width: calc(100% - 12px);
}

.filter-container .filter-contents .range-wrap {
  padding: 0 10px;
  height: 30px;
}

.filter-container .filter-cancel {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  height: 15px;
}

.modal-container {
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.modal-container .modal-background {
  background: rgba(255, 255, 255, 0.7);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
}

.modal-container .data-modal,
.modal-container .program-modal {
  background: #363636;
  border-radius: 10px;
  padding: 10px;
  z-index: 5002;
}

.modal-container .data-modal {
  height: 600px;
  width: 700px;
}

.modal-container .program-modal {
  height: 90%;
  width: 90%;
}

.program-containers {
  height: 100%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 10px;
}

.data-search-mode .program-containers {
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fill, 250px);
}

.program-option {
  /* box-shadow: 5px 5px 0 1px lightgray; */
  border-radius: 5px;
  border: thin solid rgba(0, 0, 0, 0);
  font-size: 12px;
  height: fit-content;
  padding: 5px;
  width: 225px;
}

.program-option-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.program-option-title h3 {
  font-weight: bolder;
  max-width: 130px;
}

.program-option-settings {
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  right: 0;
}

.program-option-description {
  font-size: 10px;
  min-height: 48px;
  text-overflow: ellipsis;
}

.program-containers .program-option:last-child {
  margin-bottom: 200px;
}

.program-option-use-template-container {
  justify-content: center;
  border-right: thin solid black;
  padding-right: 5px;
  margin-right: 5px;
}

.program-option-img-container img {
  align-items: center;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 65px;
  width: 65px;
}

.program-option-type-pill {
  cursor: pointer;
  margin-right: 2px;
}

.count-symbol {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 3px;
}

.full-circle,
.half-circle,
.third-circle {
  border-radius: 100%;
}

.full-circle {
  height: 10px;
  width: 10px;
}

.half-circle {
  height: 6px;
  width: 6px;
}

.third-circle {
  height: 4px;
  width: 4px;
}

.program-option-type-pill--measure {
  background: var(--measure);
}

.program-option-type-pill--dimension {
  background: var(--dimension);;
}

.program-option-type-pill--time {
  background: var(--time);
}

.coerce-data-type-button::before {
  display: flex;
  content: "■";
  font-size: 25px;
  line-height: 15px;
}

.coerce-data-type-to--MEASURE::before {
  color: var(--measure);
}

.coerce-data-type-to--DIMENSION::before {
  color: var(--dimension);
}

.coerce-data-type-to--TIME::before {
  color: var(--time);
}

.program-option-type-symbol {
  align-items: flex-start;
  display: flex;
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.program-option-search-match {
  font-size: 12px;
  font-weight: bolder;
  color: forestgreen;
}

.program-option-bottom {
  border-top: thin solid gray;
  margin-top: 5px;
}

.widget-body {
  align-items: center;
  display: flex;
  width: 100%;
}

.widget-body > * {
  width: 100%;
}

.widget-section.widget-section--editing .widget-body {
  min-height: 30px;
}

.widget-handle {
  align-items: center;
  border-bottom: thin solid lightgray;
  cursor: grab;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  justify-content: space-between;
  position: absolute;
  right: -70px;
  width: 55px;
}

.widget-handle span.grippy {
  color: #ccc;
  content: "....";
  cursor: move;
  display: inline-block;
  font-family: sans-serif;
  font-size: 12px;
  height: 20px;
  letter-spacing: 2px;
  line-height: 5px;
  margin-right: 0.3em;
  margin-top: -0.7em;
  overflow: hidden;
  padding: 3px 4px;
  text-shadow: 1px 0 1px black;
  vertical-align: middle;
  width: 10px;
}

.widget-handle span.grippy::after {
  content: ".. .. .. ..";
}

.blank-section .widget-handle,
.DataTarget-widget-type .widget-handle,
.MultiDataTarget-widget-type .widget-handle {
  right: -65px;
}

.widget-handle:hover {
  background: whitesmoke;
}

.widget-handle-grip {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  height: 100%;
}

.widget {
  position: relative;
}

.widget input[type="text"],
.widget input[type="number"] {
  background: none;
  border: none;
  width: 100%;
  border-bottom: thin dotted #333;
}

.materialize-button {
  cursor: pointer;
  font-size: 20px;
  opacity: 0.2;
  position: absolute;
  right: -25px;
}

.materialize-button-active {
  opacity: 1;
}

.DataTarget-widget-type .materialize-button {
  right: -20px;
}

.blank-section .materialize-button {
  right: -20px;
}

.fan-out-tooltip {
  max-height: 500px;
  overflow: auto;
}

.list-widget {
  font-size: 12px;
}

.switch-widget {
  display: flex;
  font-size: 12px;
  width: 100%;
  justify-content: space-between;
}

.text-widget {
  font-size: 12px;
  white-space: pre-line;
}

.free-text-widget {
  display: flex;
  align-self: center;
}

.widget-config-tooltip {
  min-width: 150px;
}

.widget-config-tooltip .text-widget {
  width: 200px;
}

.widget-config-tooltip .text-widget textarea {
  min-height: 80px;
  width: 100%;
}

.in-use-status {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 7px;
  white-space: nowrap;
}

.modal-header {
  color: white;
}

.modal-container .modal-header p {
  font-size: 12px;
}

.modal-header .modal-close-button {
  cursor: pointer;
}

.modal-container .modal-body {
  background: white;
  padding: 10px;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.modal-container .custom-data {
  height: 100px;
}

.modal-container .dataset-list {
  font-size: 12px;
  height: 100%;
  max-height: 100%;
  margin-bottom: 15px;
  overflow-y: scroll;
}

.modal-container .dataset-list h5 {
  font-size: 15px;
}

.modal-container .dataset-list-item {
  cursor: pointer;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 2px;
}

.modal-container .dataset-list-item:hover {
  background: lightgray;
}

.modal-container .dataset-list .icon-container {
  align-items: center;
  display: flex;
  font-size: 12px;
  height: 100%;
  justify-content: center;
  margin-left: 10px;
}

.modal-container .dataset-list .icon {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-right: 2px;
}

.code-container {
  height: 100%;
  position: relative;
}

.code-collapse {
  align-items: center;
  background: #333;
  border-top: thin solid black;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  font-size: 12px;
  padding: 0 15px;
}

.code-collapse.collapsed {
  background: #333;
  padding: 15px;
}

.related-templates {
  align-items: center;
  border-top: thin solid black;
  cursor: pointer;
  height: 100%;
  justify-content: center;
  font-size: 12px;
  width: 150px;
}

.related-templates-popover {
  display: flex;
  flex-wrap: wrap;
  height: 350px;
  overflow: auto;
  width: 475px;
}

/* ERROR BAR IN CODE EDITOR */
.error-bar {
  align-items: center;
  background: red;
  color: white;
  display: flex;
  height: 20px;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.data-selection {
  margin: 5px 0;
}

/* SELECT STUFF */
.ivy-selector {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  color: #444;
  display: flex;
  font-size: 10px;
  height: 10px;
  margin: 0;
  text-align-last: right;
  width: 100%;
}

.ivy-selector::-ms-expand {
  display: none;
}

.ivy-selector:focus {
  border-color: #aaa;
  color: #222;
  outline: none;
}

.ivy-selector option {
  font-weight: normal;
  text-transform: none;
}

.state-action-controls {
  margin: 0 15px;
}

.state-action-button {
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin: 0 5px;
  font-weight: 700;
}

.state-action-button.action-deactivated {
  cursor: not-allowed;
  opacity: 0.2;
}

.encoding-mode-selector {
  align-items: center;
  font-weight: 900;
  justify-content: center;
  margin-bottom: 5px;
  padding-right: 10px;
  white-space: nowrap;
  width: calc(100% - 10px);
}

.template-modification-control {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 12px;
}

.template-modification-control.template-modification-control--disabled {
  cursor: not-allowed;
  opacity: 0.2;
}

.template-modification-control-icon {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #333;
}

.template-modification-control-label {
  margin-left: 3px;
}

.shelf-dropdown {
  top: 3px;
  position: relative;
}

.tool-description {
  font-weight: 600;
  font-size: 10px;
}

.code-editor-controls {
  color: #333;
  padding: 2px;
  z-index: 10;
}

.code-editor-controls button,
.code-editor-controls .ivy-selector {
  color: #333;
}

.code-controls {
  background: #333;
  color: white;
}

.code-controls-buttons {
  display: flex;
  align-items: center;
}

.DataTarget-widget-type .ivy-selector {
  position: absolute;
  top: 4px;
}

.fixed-symbol-width .ivy-selector {
  position: relative;
  top: 0;
  width: 10px;
}

.slide-widget {
  font-size: 10px;
}

.slide-widget input {
  height: 17px;
  width: 100%;
}

.edit-mode .slide-widget {
  width: 90%;
}

.shortcuts-widget {
  font-size: 12px;
}

.edit-mode .widget {
  margin-bottom: 5px;
  position: relative;
}

.slide-widget input[type="number"] {
  max-width: 50px;
}

/* table styles: https://tablestyler.com/ */
.ivy-data-table {
  background: #fff;
  overflow: hidden;
  border: 1px solid #069;
  width: calc(100% - 40px);
  text-align: center;
}

.ivy-data-table-controls {
  font-size: 10px;
  width: 100%;
  flex-direction: row-reverse;
}

.ivy-data-table table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.ivy-data-table table td,
.ivy-data-table table th {
  padding: 0 3px;
}

.ivy-data-table table thead th {
  background-color: #069;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}

.ivy-data-table table thead th:first-child {
  border: none;
}

.ivy-data-table table tbody td {
  color: #00496b;
  border-left: 1px solid #e1eef4;
  font-size: 12px;
  font-weight: normal;
}

.ivy-data-table table tbody .alt td {
  background: #e1eef4;
  color: #00496b;
}

.ivy-data-table table tbody td:first-child {
  border-left: none;
}

.ivy-data-table table tbody tr:last-child td {
  border-bottom: none;
}

.suggestion-box-header {
  background-color: rgba(245, 245, 245, 0.3);
  cursor: pointer;
  padding: 0 15px;
}

.suggestion-box-body {
  border-bottom: thin solid black;
  height: max-content;
  padding: 10px;
}

.suggestion-box-body button {
  text-transform: none;
}

.code-option-tabs {
  display: flex;
  font-size: 12px;
  text-align: center;
}

.code-option-tab-section {
  align-items: flex-start;
}

.code-option-tab-section.option-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.code-option-tab {
  align-items: center;
  border-right: thin solid gray;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  justify-content: center;
  margin-bottom: 3px;
  margin-top: 3px;
  padding: 0 15px;
  width: 100%;
}

.code-option-section-label {
  font-weight: 300;
  max-width: 180px;
  overflow: hidden;
  padding: 0 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.code-option-tab.selected-tab {
  background: darkgray;
}

.about-bar {
  cursor: pointer;
  font-size: 15px;
}

.save-edit-button {
  align-self: center;
  justify-content: space-around;
  font-size: 15px;
}

.code-edit-controls-button {
  align-items: center;
  display: flex;
  font-size: 25px;
  justify-content: center;
  margin-right: 10px;
}

/* split pane stuff */

.Resizer {
  background: #000;
  opacity: 1;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.disabled {
  cursor: not-allowed;
}

.Resizer.disabled:hover {
  border-color: transparent;
}

.tooltip-icon {
  align-items: flex-start;
  display: flex;
  font-size: 15px;
  height: 2em;
  cursor: pointer;
}

.tooltip-internal {
  display: flex;
  width: 130px;
}

.add-widget-tooltip {
  max-height: 400px;
  overflow-y: scroll;
  width: 220px;
}

.add-widget-tooltip h3 {
  margin-top: 5px;
}

.add-widget-row {
  width: 100%;
}

.query-configuration-block {
  height: 100%;
  margin-bottom: 500px;
  overflow: scroll;
}

/* SPINNER */
.lds-dual-ring-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #333;
  border-color: #333 transparent #333 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
