
html,
body,
#root-container {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

button {
  /* background: white; */
  background: none;
  cursor: pointer;

  /* border: 2px solid black; */
  border: none;
  border-radius: 5px;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 900;
}

button:disabled {
  cursor: not-allowed;
}

button.selected {
  background: black;
  color: white !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.flex {
  display: flex;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.grid-col-1 {
  grid-column: 1;
}

.grid-col-2 {
  grid-column: 2;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-height-with-hide {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.margin-right {
  margin-right: 5px;
}

.space-around {
  justify-content: space-around;
}

.center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.chart-container {
  padding: 20px;
  overflow: scroll;
}

.chart-container > div {
  background: white;
}

#special-hydra-target {
  display: flex;
  width: fit-content;
}

.chart-unfullfilled {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 800;
  height: 100%;
  justify-content: center;
  opacity: 0.5;
  text-transform: uppercase;
  white-space: pre;
  width: 100%;
}

.chart-controls {
  background: whitesmoke;
  height: 48px;
  padding: 5px 0;
}

.chart-controls .view-control {
  align-items: center;
  border-left: thin solid lightgray;
  border-right: thin solid lightgray;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  height: 100%;
  justify-content: center;
  padding: 0 10px;
}

.chart-controls .view-control.selected {
  background: ghostwhite;
  font-weight: bolder;
  text-decoration: underline;
}

.chart-controls .view-control:first-of-type {
  border-left: 0;
}

.view-container {
  display: flex;
  overflow-x: auto;
  width: 100%;
}

.center-column {
  min-width: 300px;
  position: relative;
  width: 300px;
}

.header {
  align-items: center;
  color: white;
  height: 30px;
  padding: 0 15px;
}

.header button {
  color: white;
}

.header img {
  height: 25px;
}

.bottom-fill {
  margin-bottom: 100px;
}

.input-mode-selector {
  display: flex;
  font-size: 10px;
  flex-direction: row-reverse;
  padding: 0 15px;
}

.input-mode-selector .mode-option {
  cursor: pointer;
  margin: 0 5px;
}

.input-mode-selector .mode-option.selected-mode {
  text-decoration: underline;
}

.section-title {
  font-size: 12px;
  font-weight: 100;
  text-transform: uppercase;
}

.section-body {
  margin-bottom: 15px;
}

.section-subtitle {
  font-size: 12px;
}

.column-border {
  border-right: thin solid #b5b5b5;
}

.column {
  max-height: 100%;
  min-width: 220px;
  overflow-y: scroll;
  padding: 0 15px;
}

.encoding-column {
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  padding: 15px;
}

.template-column.column.edit-mode {
  height: 100%;
  padding: 0;
  width: 100%;
}

.template-column.column.edit-mode > div {
  margin-bottom: 200px;
}

.widget-section {
  background: lightgray;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-bottom: 2px;
}

.widget-section.blank-section {
  background: none;
}

.widget-section .pad-widget {
  padding: 0 5px;
}

.widget-section .widget-title {
  color: black;
  font-size: 10px;
  font-weight: 700;
  white-space: nowrap;
}

.control-container {
  z-index: 1;
}

.pill-container {
  color: black;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  min-height: 20px;
}

.pill {
  background: #b5b5b5;
  border-radius: 2px;
  cursor: move;
  font-size: 9px;
  height: 100%;
  padding: 0 5px;
}

.pill-container .pill {
  min-height: 20px;
}

.pill .fixed-symbol-width {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  justify-content: center;
  height: 100%;
  width: 20px;
}

.pill .fixed-symbol-width:hover {
  background-color: gray;
}

/* the data type indicator should behave special */
.pill .fixed-symbol-width.pill-symbol {
  cursor: move;
  background-color: transparent;
}

.pill .fixed-symbol-width.pill-symbol:hover {
  background-color: transparent;
}

.fixed-symbol-width.fixed-symbol-width-disable {
  cursor: not-allowed;
  opacity: 0.1;
}

.pill .pill-label {
  align-items: center;
  display: flex;
  font-size: 9px;
  max-width: 100%;
  padding: 0 5px;
  width: 100%;
}

.symbol-box {
  border-right: 1px solid gray;
  height: 5px;
  width: 100%;
}

.measure-pill {
  background: lightseagreen;
}

.dimension-pill {
  background: mediumseagreen;
}

.time-pill {
  background: pink;
}

.metacolumn-pill {
  background: goldenrod;
}

.shelf-container {
  margin-bottom: 5px;
}

.multi-shelf-container .pill-dropzone {
  min-height: 22px;
  width: calc(100% - 5px);
}

.multi-shelf-container .pill {
  min-height: 22px;
}

.shelf {
  align-items: center;
  background: #757575;
  border: 2px solid #757575;
  color: white;
  border-radius: 5px;
  font-size: 10px;
  height: 22px;
  padding: 0;
  padding-left: 5px;
  z-index: 1;
}

.multi-shelf {
  align-items: center;
  background: #757575;
  border: 2px solid #757575;
  color: white;
  border-radius: 5px;
  font-size: 10px;
  padding: 0;
  z-index: 1;
}

.shelf-configuration {
  display: flex;
  padding: 5px;
  background: #bababa;
  top: -5px;
  position: relative;
  align-items: center;
  border-radius: 5px;
  flex-wrap: wrap;
  z-index: 0;
}

.shelf-configuration .option-row {
  display: flex;
  font-size: 10px;
  margin-right: 20px;
  padding: 0 5px;
  justify-content: space-between;
}

.shelf-configuration .option-row .option-row-label {
  white-space: nowrap;
}

.shelf-configuration .clear-option {
  display: flex;
  cursor: pointer;
  font-size: 15px;
}

.shelf .field-label {
  align-items: center;
  font-weight: 900;
  font-size: 12px;
  min-width: 50px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  width: 50px;
}

.shelf .field-label .data-type-container {
  position: absolute;
  top: -3px;
  width: 100%;
}

.shelf-container .shelf .hydra-selector {
  opacity: 0.5;
  position: absolute;
  top: 4px;
}

.shelf-container .shelf .pill .hydra-selector {
  position: relative;
  width: 10px;
}

.shelf .label-control {
  font-size: 15px;
}

.disable-shelf {
  cursor: no-drop;
  opacity: 0.4;
}

.shelf .blank-pill,
.multi-shelf .blank-pill {
  align-items: center;
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  padding-left: 5px;
  transition: background-color 1s;
  min-height: 20px;
}

.shelf .highlight-drop {
  background-color: paleturquoise;
}

.shelf .pill-dropzone {
  background: white;
  border-radius: 2px;
  color: black;
  height: 100%;
  margin: 0 5px;
  position: relative;
  width: 100%;
}

/* IF WE RENEG ON THE COLORS OF PILLS THIS COMES BACK */

/* .shelf .pill {
  background: #e4e6e8;
} */

.shelf.filter-target {
  border: 0;
  padding: 0;
  margin-bottom: 200px;
}

.shelf.filter-target .pill-dropzone {
  margin: 0;
}

.meta-column-filter-option-container {
  flex-wrap: wrap;
}

.meta-column-filter-option-container .meta-column-filter-option {
  cursor: pointer;
  text-decoration: underline;
  margin-right: 5px;
}

.meta-column-filter-count {
  min-width: 30px;
}

.data-select {
  max-width: 100%;
  width: 100%;
}

.background-1 {
  background: #363636;
}

.background-2 {
  background: whitesmoke;
}

.background-3 {
  background: #fafafa;
}

.filter-container {
  border: 2px solid #f1f1f1;
  border-radius: 2px;
  margin-bottom: 10px;
}

.filter-container .filter-header {
  background: #f1f1f1;
  font-size: 10px;
  padding: 3px 6px;
}

.filter-container .filter-contents {
  background: #fcfdfe;
  font-size: 10px;
  height: 100%;
  max-height: 200px;
  min-height: 35px;
  overflow-y: scroll;
  padding: 10px 6px;
  width: calc(100% - 12px);
}

.filter-container .filter-contents .range-wrap {
  padding: 0 10px;
  height: 30px;
}

.filter-container .filter-cancel {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  height: 15px;
}

.modal-container {
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;

  /* z-indexed so high to beat the vega-summary button */
  z-index: 5000;
}

.modal-container .modal-background {
  background: rgba(255, 255, 255, 0.7);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5001;
}

.modal-container .data-modal,
.modal-container .program-modal {
  background: #363636;
  border-radius: 10px;
  padding: 10px;
  z-index: 5002;
}

.modal-container .data-modal {
  height: 400px;
  width: 700px;
}

.modal-container .program-modal {
  height: 90%;
  width: 90%;
}

.program-containers {
  height: 100%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.program-option {
  font-size: 15px;
}

.program-containers .program-option:last-child {
  margin-bottom: 200px;
}

.program-option-img-container img {
  height: 75px;
  width: 75px;
}


.widget-body {
  width: 100%;
}

.widget-body textarea {
  width: calc(100% - 5px);
}

.widget-handle {
  background: #b5b5b5;
  cursor: grab;

  /* padding: 3px 5px; */
}

.widget-handle-grip {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  height: 100%;
}

.widget input[type="text"],
.widget input[type="number"] {
  background: none;
  border: none;
  width: 100%;
  border-bottom: thin dotted black;
}

.list-widget {
  font-size: 12px;
}

.switch-widget {
  display: flex;
  font-size: 12px;
  width: 100%;
  justify-content: space-between;
}

.text-widget {
  font-size: 12px;
}

.text-widget textarea {
  background: none;
  border: none;
}

.in-use-status {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 7px;
  transform: rotate(-90deg);
  white-space: nowrap;
  height: 5px;
  width: 5px;
  display: flex;
  flex-direction: row-reverse;
}

.modal-header {
  color: white;
}

.modal-container .modal-header p {
  font-size: 12px;
}

.modal-header .modal-close-button {
  cursor: pointer;
}

.modal-container .modal-body {
  background: white;
  padding: 10px;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.modal-container .custom-data {
  height: 100%;
}

.modal-container .dataset-list {
  font-size: 12px;
  height: 100%;
  max-height: 100%;
  margin-bottom: 15px;
  overflow-y: scroll;
}

.modal-container .dataset-list h5 {
  font-size: 15px;
}

.modal-container .dataset-list-item {
  cursor: pointer;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 2px;
}

.modal-container .dataset-list-item:hover {
  background: lightgray;
}

.modal-container .dataset-list .icon-container {
  align-items: center;
  display: flex;
  font-size: 12px;
  height: 100%;
  justify-content: center;
  margin-left: 10px;
}

.modal-container .dataset-list .icon {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-right: 2px;
}

.code-container {
  height: 100%;
  position: relative;
}

.code-collapse {
  font-size: 12px;
  text-transform: uppercase;
}

.error-bar {
  align-items: center;
  background: red;
  color: white;
  display: flex;
  height: 30px;
  justify-content: center;
  position: absolute;
  width: 100%;
}

/* ERROR BAR IN CODE EDITOR */
.code-container .error-bar {
  display: none;
  top: -60px;
  transition: top 1s, opacity 1s;
  opacity: 0;
}

.code-container .error-bar.has-error {
  display: flex;
  opacity: 1;
  top: -30px;
  z-index: 1;
}

/* ERROR BAR IN TEMPLATE BUILDER */
.code-wrapper .error-bar {
  bottom: -5000px;
  transition: bottom 1s;
}

.code-wrapper .error-bar.has-error {
  bottom: 30px;
  z-index: 1;
}

.data-selection {
  margin: 5px 0;
}

/* SELECT STUFF */
.hydra-selector {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  color: #444;
  display: flex;
  font-size: 10px;
  font-weight: 700;
  height: 10px;
  margin: 0;
  text-transform: uppercase;
  text-align-last: right;
  width: 100%;
}

.hydra-selector::-ms-expand {
  display: none;
}

.hydra-selector:focus {
  border-color: #aaa;
  color: #222;
  outline: none;
}

.hydra-selector option {
  font-weight: normal;
  text-transform: none;
}

.coercion-tooltip-container {
  position: relative;
}

.coercion-tooltip-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5001;
}

.coercion-tooltip {
  background-color: white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding: 5px;
  position: absolute;
  height: auto;
  width: auto;
  top: 20px;
  z-index: 5002;
}

.coercion-tooltip .selected-dimension {
  background-color: steelblue;
  color: white;
}

.state-action-controls {
  margin: 0 15px;
}

.state-action-button {
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin: 0 5px;
  font-weight: 700;
}

.state-action-button.action-deactivated {
  cursor: not-allowed;
  opacity: 0.2;
}

.encoding-mode-selector {
  align-items: center;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  justify-content: space-between;
  white-space: nowrap;

  /* sync with the padding */
  width: calc(100% - 20px);
}

.encoding-mode-selector img {
  height: 30px;
  margin-right: 10px;
}

.encoding-mode-selector h1 {
  font-size: 10px;
}

.encoding-mode-selector h3 {
  font-size: 12px;
  text-transform: uppercase;
}

.template-modification-control {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  margin-right: 5px;
}

.template-modification-control.template-modification-control--disabled {
  cursor: not-allowed;
  opacity: 0.2;
}

.template-modification-control-label {
  margin-left: 3px;
}

/* modal-tooltip */

.modal-tooltip-container {
  position: relative;
}

.modal-tooltip {
  border: 3px solid black;
  border-radius: 2px;
  background: lightgray;
  display: flex;
  padding: 20px;
  position: absolute;
  z-index: 1000;
}

.modal-tooltip::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent black transparent transparent;
  top: 5px;
  left: -20px;
}

.modal-tooltip-container .modal-tooltip {
  overflow-y: auto;
}

.encoding-selection-option {
  align-items: center;
  border: thin solid rgba(0, 0, 0, 0);
  cursor: pointer;
  font-size: 12px;
  height: 75px;
  justify-content: center;
  margin-right: 20px;
  min-width: 75px;
  padding: 5px;
  text-transform: uppercase;
  text-align: center;
  width: 75px;
}

.encoding-selection-option.selected-encoding-option {
  border: thin solid rgba(125, 125, 125, 1);
}

.encoding-selection-option:hover {
  border: thin dashed rgba(125, 125, 125, 1);
}

.encoding-selection-option-img-container {
  align-self: center;
  display: flex;
  justify-content: center;
}

.encoding-selection-option img {
  max-height: 50px;
  max-width: 50px;
}

.encoding-selection-modal-button {
  align-items: center;
  cursor: pointer;
  font-size: 30px;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.encoding-selection-modal-button h3 {
  font-size: 12px;
  text-transform: uppercase;
}

.template-preview-column {
  display: flex;
  height: 100px;
  max-width: 570px;
  padding: 0 20px;
}

.template-preview-column .scroll-container {
  display: flex;
  overflow-x: scroll;
  width: 100%;
}

.shelf-dropdown {
  top: 3px;
  position: relative;
}

.tooltip-container .modal-background {
  background: rgba(255, 255, 255, 0);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.tooltip-click-target {
  cursor: pointer;
}

.list-options-popover .delete-option-button {
  cursor: pointer;
  font-size: 15px;
}

.tool-description {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
}

.code-editor-controls {
  color: black;
  padding: 2px;
  z-index: 10;
}

.code-editor-controls button,
.code-editor-controls .hydra-selector {
  color: black;
}

.execute-code-control {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.execute-code-control .execute-code-control-button {
  cursor: pointer;
  font-size: 30px;
}

.execute-code-control .hydra-selector {
  text-align-last: center;
}

.slide-widget {
  font-size: 10px;
}

.slide-widget input {
  height: 17px;
  width: 100%;
}

.edit-mode .slide-widget {
  width: 90%;
}

.edit-mode .widget {
  margin-bottom: 5px;
}

.slide-widget input[type=number] {
  max-width: 50px;
}

/* table styles: https://tablestyler.com/ */
.hydra-data-table {
  background: #fff;
  overflow: hidden;
  border: 1px solid #069;
  width: calc(100% - 40px);
  text-align: center;
}

.hydra-data-table-controls {
  font-size: 10px;
  width: 100%;
  flex-direction: row-reverse;
}

.hydra-data-table table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.hydra-data-table table td,
.hydra-data-table table th {
  padding: 0 3px;
}

.hydra-data-table table thead th {
  background-color: #069;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}

.hydra-data-table table thead th:first-child {
  border: none;
}

.hydra-data-table table tbody td {
  color: #00496b;
  border-left: 1px solid #e1eef4;
  font-size: 12px;
  font-weight: normal;
}

.hydra-data-table table tbody .alt td {
  background: #e1eef4;
  color: #00496b;
}

.hydra-data-table table tbody td:first-child {
  border-left: none;
}

.hydra-data-table table tbody tr:last-child td {
  border-bottom: none;
}

.suggestion-box-header {
  background-color: rgba(245, 245, 245, 0.3);
  cursor: pointer;
  padding: 0 15px;
}

.suggestion-box-body {
  background: #dbdbdb;
  height: 100%;
  padding: 10px;
}

.code-option-tabs {
  cursor: pointer;
  color: #ce9178;
  display: flex;
  font-size: 12px;
  text-align: center;
}

.code-option-tab {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 100%;
}

.code-option-tab.selected-tab {
  background: #002340;
}

.code-option-tabs .tooltip-click-target {
  font-size: 20px;
}

.code-option-tabs .tooltip-container {
  align-items: center;
  justify-content: center;
}

.about-bar {
  font-size: 15px;
}

.save-edit-button {
  align-self: center;
  justify-content: space-around;
  font-size: 15px;
}

/* split pane stuff */

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.disabled {
  cursor: not-allowed;
}

.Resizer.disabled:hover {
  border-color: transparent;
}
